<h1>{{page_title}}</h1>

    



<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-12 col-md-12 col-lg-12">
    <div class="folder-container" ng-controller="folderController">
        <div class="folders row">
            {{#each items}}
            <div class="folder-column col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-4 col-md-4 col-lg-3">
                <div class="folder-select_btn" data-action="open-menu" data-id="{{id}}"></div>
                <div class="folder-menu active" id="{{_id}}--menu">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 folder-menu-col" data-action="load-editor" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#open-deck-modal" data-id="{{id}}">
                            <div class="folder-menu-option-container">
                                <span class="folder-menu-option">OPEN</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 folder-menu-col" data-action="save-id" data-toggle="modal" data-target="#rename-deck-modal" data-id="{{id}}">
                            <div class="folder-menu-option-container" >
                                <span class="folder-menu-option" >RENAME</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 folder-menu-col" data-action="save-id" data-toggle="modal" data-target="#delete-deck-modal" data-id="{{id}}">
                            <div class="folder-menu-option-container" >
                                <span class="folder-menu-option">DELETE</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 folder-menu-col" data-action="close-menu" data-id="{{id}}--menu">
                            <div class="folder-menu-option-container last">
                                <span class="folder-menu-option" >CLOSE</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="folder-item" id="{{_id}}">
                    <div class="folder-content">
                        <div class="folder-head">
                            <h2>{{title}}</h2>
                        </div>
                    </div>



                    <div class="folder-item left-45"></div>
                    <div class="folder-item right-45"></div>

                </div>
            </div>
            {{/each}}
        </div>
        <div class="new-folder row">
            <div class="col-xs-offset-9 col-xs-3 col-sm-offset-10 col-sm-2 col-md-2 col-lg-2">
                <span data-toggle="modal" data-target="#new-folder-modal" class="add-new-folder_btn">+</span>

            </div>
        </div>



    </div>
</div>





{{> new_folder}}
{{> rename }}
{{> delete}}
{{> deck}}
{{> rename_card }}

